<template name="home">
  <div class="container">
    <div class="page-header">
      <h1>Tasks</h1>
      <!--i>Submitted by</i> <b>Tabrez Ahmed M</b-->
      <br>
      <button class="logout btn right">Logout</button>
    </div>
    <h3>Add Task</h3>
    {{> quickForm collection=Tasks id="taskInsert"}}
    <hr>
    {{> list}}
  </div>
</template>


<template name="list">
  <h3>Task List  (Click to edit)</h3>
  <ul class="list-group">
    {{#each Tasks.find}}
      <li class="list-group-item"><a href="{{pathFor 'taskEdit' id=this._id}}">{{name}}</a></li>
    {{/each}}
  </ul>
</template>
